body {
    background-color: rgb(239, 237, 234);
}




label,input{
    margin-inline-start: 10px;
   
    text-align: center;
}

div input {
    border-radius: 5px;
    border-style: solid;
    border: 2px;
}

    

 


